<div class="container">
    <h1>Precio</h1>
    <p class="subtitulo">Adquiere uno de nuestros planes en promoción</p>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-8 col-8 tarjetas">
            <div class="card">

                <span class="text-center p-2 title">Libre</span>
                <div class="card-body">
                    <h5 class="card-title">$0 <span>/ mes</span></h5>
                    <p class="card-text">10 usuarios incluidos<br>2 GB de almacenamiento<br>
                        Soporte de correo electronico<br>Acceso al centro de ayuda</p>
                    <a href="#" class="btn btn-primary botones">Regístrate gratis</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-8 tarjetas">
            <div class="card">
                <span class="text-center p-2 title">Pro</span>
                <div class="card-body">
                    <h5 class="card-title">$15 <span>/ mes</span></h5>
                    <p class="card-text">20 usuarios incluidos<br>10 GB de almacenamiento<br>
                        Soporte prioritario por correo electronico<br>Acceso al centro de ayuda</p>
                    <a href="#" class="btn btn-primary botones">Empezar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 col-8 tarjetas">
            <div class="card">

                <span class="text-center p-2 title">Empresa</span>
                <div class="card-body">
                    <h5 class="card-title">$29 <span>/ mes</span></h5>
                    <p class="card-text">30 usuarios incluidos<br>15 GB de almacenamiento<br>
                    Soporte telefónico y por correo electronico<br>Acceso al centro de ayuda</p>
                    <a href="#" class="btn btn-primary botones">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</div>